*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(108, 108, 107), rgb(117, 191, 241));
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 400px;
    background: white;
    margin: 100px auto 20px;
    padding: 70px 50px 70px;
    border-radius: 10px;
}
.todo h2{
    padding-bottom: 2%;
}
.todo h2 img{
    padding-left: 2%;
}
input{
    height: 30px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}
button{
    height: 28px;
    width: 80px;
    border: none;
    outline: none;
    background-color: rgb(65, 138, 247);
    font-size: 16px;
    border-radius: 40px;

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(231, 224, 224);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    height: 30px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: grey;
    text-decoration: line-through;
}
ul li.checked::before{
    background-color:rgb(28, 129, 243);
}
ul li span{
    position: absolute;
    right: 0;
    top: 4px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: rgb(18, 18, 18);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(213, 210, 210);
}